# Data Analytics Tool

## Introduction

This program is intended to complete a full data analyis.
It is able to clean the data and give a descriptive analysis results, all based on the users preferences.
Any kind of csv file should be applicable.

## 1. Import of libraries and the data set

In [2]:
## 1.1 get input 
# We need to get input for which csv file a user wants to upload. 
# with the given input we have to define a function that imports all libraries 
# and afterwards reads the data ("read_csv" needs pandas library imported to work!)

# user needs to make sure that this python file as well as the desired csv file is located
# in the same working directory!

In [3]:
# 1.2 Imports
import sys
import math
import numpy as np
import pandas as pd
import scipy.stats
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sn

In [4]:
# 1.3 read data 
data = pd.read_csv("listings.csv")

In [7]:
# 1.4 preparing answers for y/n questions and colums list needed for 
yes = {"yes", "y"}
no = {"no", "n"}
columns = list(data.columns) 
c = []

## 2. Overview and Cleaning Data Set

In [11]:
## 2.1 showing max rows and columns of data set
print("Your data set includes the following number of rows and columns: ")
data.shape

Your data set includes the following number of rows and columns:

(7907, 16)

In [12]:
# 2.2 head

print("In the following table you can see the first and last eight observations of your data set.")
data.head(8)

In the following table you can see the first and last eight observations of your data set.

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,2013-10-21,0.01,2,365
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365
2,56334,COZICOMFORT,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,2015-10-01,0.20,2,365
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,2019-08-11,0.15,9,353
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,2019-07-28,0.22,9,355
5,71903,Room 2-near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34702,103.96103,Private room,104,1,39,2019-08-15,0.38,9,346
6,71907,3rd level Jumbo room 5 near EXPO,367042,Belinda,East Region,Tampines,1.34348,103.96337,Private room,208,1,25,2019-07-25,0.25,9,172
7,241503,"Long stay at The Breezy East ""Leopard""",1017645,Bianca,East Region,Bedok,1.32304,103.91363,Private room,50,90,174,2019-05-31,1.88,4,59

In [13]:
# & tail
data.tail(8)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
7899,38094671,SMALL ROOM FOR ONE @SOMERSET/ORCHARD/CENTRAL AREA,262337792,Herman,Central Region,River Valley,1.29369,103.83768,Private room,33,7,0,NaN,NaN,11,359
7900,38102097,环境优雅的公寓,286260560,Bo,West Region,Bukit Batok,1.35654,103.76028,Private room,90,3,0,NaN,NaN,1,83
7901,38104971,2 PAX LOFT Close To Kent Ridge Park,278109833,Belle,Central Region,Queenstown,1.27973,103.78751,Entire home/apt,100,3,0,NaN,NaN,31,61
7902,38105126,Loft 2 pax near Haw Par / Pasir Panjang. Free ...,278109833,Belle,Central Region,Queenstown,1.27973,103.78751,Entire home/apt,100,3,0,NaN,NaN,31,61
7903,38108273,3bedroom luxury at Orchard,238891646,Neha,Central Region,Tanglin,1.29269,103.82623,Entire home/apt,550,6,0,NaN,NaN,34,365
7904,38109336,[ Farrer Park ] New City Fringe CBD Mins to MRT,281448565,Mindy,Central Region,Kallang,1.31286,103.85996,Private room,58,30,0,NaN,NaN,3,173
7905,38110493,Cheap Master Room in Central of Singapore,243835202,Huang,Central Region,River Valley,1.29543,103.83801,Private room,56,14,0,NaN,NaN,2,30
7906,38112762,Amazing room with private bathroom walk to Orc...,28788520,Terence,Central Region,River Valley,1.29672,103.83325,Private room,65,90,0,NaN,NaN,7,365

In [8]:
## Defining an input function such that we can run this everytime the program asks the users for columns to edit
def getInput():
    input_string = input("\nEnter all columns separated with space: ")
    global c
    c  = input_string.split(" ")
    for char in c: 
        if char not in columns:
            print(char, "is not given in data set. Please retry!")
            c.clear()
            getInput()
    return

In [9]:
## 2.2.(1/4) removing columns
# define function that asks for columns and deletes them 

def qRemove():
    inpRemove= str(input("\nWould you like to remove columns from your data set? (y/n): ").lower())
    if inpRemove in yes:
        getInput()
        global data
        data = data.drop(c, axis = 1) # axis = 1 --> column
        for char in c:
            print("\n" + char, "has been removed from the data set!")
        return 
    elif inpRemove in no:
        return
    else:
        sys.stdout.write("""\nPlease answer with "yes" or "no".""")
        qRemove()
    return

In [10]:
# Use function
qRemove()

Would you like to remove columns from your data set? (y/n): y

Enter all columns separated with space: host_name room_type

host_name has been removed from the data set!

room_type has been removed from the data set!

In [34]:
data.head()

,id,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,2013-10-21,0.01,2,365
1,50646,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365
2,56334,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,2015-10-01,0.20,2,365
3,71609,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,2019-08-11,0.15,9,353
4,71896,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,2019-07-28,0.22,9,355

In [ ]:
## 2.3 get further details of the data types 

print("""In the table below you will find more specific information about your data set:
(int64" and "float64" stands for numeric data, whereas "object" denotes categorical data)\n""")

listing.dtypes

In [ ]:
## 2.4

In [ ]:
## 2.5 deleted

In [18]:
## 2.6 count number of null values

print("Here you see the number of null values for each variable.")

data.isnull().sum()

In the next table the number of null values for each variable are revealed.

id                                   0
name                                 2
host_id                              0
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       2758
reviews_per_month                 2758
calculated_host_listings_count       0
availability_365                     0
dtype: int64

In [24]:
## 2.7 remove NA values

# define function to ask if user wants to remove null values
def qDrop():
    inp = str(input("\nDo you want to remove the null values? (y/n): ").lower())
    if inp in yes:
        global data
        data = data.dropna(how="any", axis=0) # axis = 0 --> row
        print("\nNull values have been removed.")
    elif inp in no:
        return      
    else:
        sys.stdout.write("Please respond with 'yes' or 'no'")
        qDrop()

In [23]:
# 2.7 cont. execute function        
qDrop()

Do you want to remove the null values? (y/n): n

In [ ]:
## 2.8 Renaming columns

In [25]:
## 2.9 check for duplicates 

# To get rid of duplicates we check if the *key* appears more than once
# A key in a data set is a variable which is unique. In other words, the key is the value whith which
# you can access each single observation. 
# Thus for our program we ask the user for the key. The user must know this key! 
# The program hasn't got the intelligence to figure it out by itself. 

# defining question for key
def Key():
    key = input("\nWhat column is the primary key of your data set?: ")
    if key not in columns:
        print("\nThere is no such column. Please try again!")
        qKey()
    else:
        return key


# defining removal of duplicates 
def removeDupl():
    inp = str(input("\nDo you want to remove the duplicates from your data set? (y/n): ").lower())
    if inp in yes:
        global data
        data = data.drop_duplicates(key)
        print("\nThe duplicates have been removed.")
    elif inp in no:
        return 
    else:
        sys.stdout.write("Please respond with 'yes' or 'no'")
        removeDupl()
    return

#defining overall question for handling duplicates
def qDuplicates():
    inp = str(input("\nDo you want to check for duplicates in your data set?  (y/n): ").lower())
    if inp in yes:
        global key
        key = Key()
        duplications = sum(data.duplicated(key))
        print("There are", duplications, "duplicates in your data set.")
        if duplications == 0:
            return
        else:
            removeDupl()
    elif inp in no: 
        return
    else:
        sys.stdout.write("""\nPlease answer with "yes" or "no".""")
        qDuplicates()  
    return

In [17]:
# 2.9 cont. execute functions
qDuplicates()

Do you want to check for duplicates in your data set?  (y/n): yes

What column is the primary key of your data set?: id
There are 0 duplicates in your data set.