In [61]:
# 1.2 Imports
import math
import numpy as np
import pandas as pd
import scipy.stats
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sn
import sys

In [2]:
# 1.3 read data 
data= pd.read_csv("listings.csv")

In [79]:
yes = {"yes", "y"}
no = {"no", "n"}
columns = list(data.columns) 
c = []

In [4]:
columns

['id',
 'name',
 'host_id',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

In [5]:
data.head(6)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,2013-10-21,0.01,2,365
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365
2,56334,COZICOMFORT,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,2015-10-01,0.20,2,365
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,2019-08-11,0.15,9,353
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,2019-07-28,0.22,9,355
5,71903,Room 2-near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34702,103.96103,Private room,104,1,39,2019-08-15,0.38,9,346

In [35]:
c = []

In [40]:
def inpt():
    input_string = input("Enter ALL the columns separated with space: ")
    global c
    c  = input_string.split(" ")

In [41]:
inpt()

Enter ALL the columns to delete seperated with space: name gaga

In [56]:
def getInput():
    input_string = input("Enter all columns separated with space: ")
    global c
    c  = input_string.split(" ")
    for char in c: 
        if char not in columns:
            print(char, "is not given in data set. Please retry!")
            getInput()
    return

SyntaxError: 'return' outside function (<ipython-input-56-73468315248d>, line 9)

In [54]:
getInput()

Enter all columns separated with space: name gaga
gaga is not given in data set. Please retry!
Enter all columns separated with space: name host_name

In [55]:
c

['name', 'host_name']

In [94]:
def qRemove():
    inpRemove= str(input("Would you like to remove columns from your data set? (y/n): ").lower())

Would you like to remove columns from your data set? (y/n): ie

In [111]:
def qRemove():
    inpRemove= str(input("Would you like to remove columns from your data set? (y/n): ").lower())
    if inpRemove in yes:
        getInput()
        global data
        data = data.drop(c, axis = 1) # axis = 1 --> column
    if inpRemove in no:
        return
    else:
        sys.stdout.write("""Please answer with "yes" or "no".""")
        qRemove()
    return

In [113]:
qRemove()

Would you like to remove columns from your data set? (y/n): ie
Please answer with "yes" or "no".Would you like to remove columns from your data set? (y/n): yes
Enter all columns separated with space: name
name is not given in data set. Please retry!

KeyboardInterrupt:

In [9]:
## 2.2.(1/4) removing columns

# next step is to ask if user wants to delete columns
# again we need to check if user has typed the names correctly!

data = data.drop(c, axis = 1) # axis = 1 --> column

NameError: name 'c' is not defined

In [ ]:
data.head(6)