In [1]:
# 1.2 Imports
import math
import numpy as np
import pandas as pd
import scipy.stats
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sn
import sys

In [94]:
# 1.3 read data 
data = pd.read_csv("listings.csv")

In [3]:
yes = {"yes", "y"}
no = {"no", "n"}
columns = list(data.columns) 
c = []
flt = {"float, f"}
integer = {"integer, int, i"}

In [4]:
columns

['id',
 'name',
 'host_id',
 'host_name',
 'neighbourhood_group',
 'neighbourhood',
 'latitude',
 'longitude',
 'room_type',
 'price',
 'minimum_nights',
 'number_of_reviews',
 'last_review',
 'reviews_per_month',
 'calculated_host_listings_count',
 'availability_365']

In [169]:
data.head(6)

,identity,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,pries,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,2013-10-21,0.01,2,365
1,50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365
2,56334,COZICOMFORT,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,2015-10-01,0.20,2,365
3,71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,2019-08-11,0.15,9,353
4,71896,B&B Room 1 near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,2019-07-28,0.22,9,355
5,71903,Room 2-near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34702,103.96103,Private room,104,1,39,2019-08-15,0.38,9,346

In [198]:
qCat()

Do you want to look at any specific categorical columns individually? (y/n): y

Enter all columns separated with space: neighbourhood room_type

Kallang                    1043
Geylang                     994
Novena                      537
Rochor                      536
Outram                      477
Bukit Merah                 470
Downtown Core               428
Bedok                       373
River Valley                362
Queenstown                  266
Tanglin                     210
Singapore River             175
Marine Parade               171
Jurong West                 153
Orchard                     136
Newton                      134
Bukit Timah                 131
Jurong East                 118
Hougang                     109
Clementi                    102
Toa Payoh                   101
Pasir Ris                    71
Serangoon                    69
Woodlands                    67
Sengkang                     67
Bukit Batok                  65
Tampines                     64
Museum                       63
Choa Chu Kang                63
Ang Mo Kio                   58
Bishan                       57
Yishun                       53
Punggol                      43
Sembawang                    41
Bukit Panjang                34
Central Water Catchment      34
Southern Islands             17
Sungei Kadut                  5
Western Water Catchment       4
Mandai                        3
Lim Chu Kang                  1
Marina South                  1
Tuas                          1
Name: neighbourhood, dtype: int64

['room_type']

Entire home/apt    4132
Private room       3381
Shared room         394
Name: room_type, dtype: int64

## alternative code

In [ ]:
## 3.1.2 value_counts 
#counts the number of each single group of category and presents result in a small df

def qCat():
    inp = str(input("\nDo you want to look at any specific categorical columns individually? (y/n): "))
    if inp in yes:
        getInput()
        for char in c:
            a = data[char].value_counts()
            return a
    elif inp in no:
        return
    else:
        sys.stdout.write("""\nPlease answer with "yes" or "no".""")
        qCat()
    
def countCat():
    for char in c:
        data[char].value_counts()

In [ ]:
# 2.10
def qSave():
    inp = str(input("\nDo you want to save your cleaned data set in the working directory? (y/n): ").lower())
    if inp in yes:
        _____
    elif inp in no:
        return
    else:
        sys.stdout.write("""\nPlease answer with "yes" or "no".""")
        qSave()

##  working code

In [ ]:
def inpt():
    input_string = input("Enter ALL the columns separated with space: ")
    global c
    c  = input_string.split(" ")

In [ ]:
inpt()

In [43]:
def getInput():
    input_string = input("\nEnter all columns separated with space: ")
    global c
    c.clear()
    c  = input_string.split(" ")
    for char in c: 
        if char not in columns:
            print(char, "is not given in data set. Please retry!")
            c.clear()
            getInput()
    return

In [ ]:
getInput()

In [35]:
def qRemove():
    inp = str(input("\nWould you like to remove columns from your data set? (y/n): ").lower())
    if inp in yes:
        getInput()
        global data
        data = data.drop(c, axis = 1) # axis = 1 --> column
        for char in c:
            print(char, "has been removed from the data set!")
        return
    elif inp in no:
        return
    else:
        sys.stdout.write("""\nPlease answer with "yes" or "no".""")
        qRemove()
    return

In [36]:
qRemove()

Would you like to remove columns from your data set? (y/n): y

Enter all columns separated with space: date gaga
date is not given in data set. Please retry!

Enter all columns separated with space: name gaga
gaga is not given in data set. Please retry!

Enter all columns separated with space: name host_id

name has been removed from the data set!

host_id has been removed from the data set!

In [5]:
## 2.9 remove duplicates

def Key():
    key = input("\nWhat column is the primary key of your data set?: ")
    if key not in columns:
        print("\nThere is no such column. Please try again!")
        Key()
    else:
        return key

In [16]:
def removeDupl():
    inp = str(input("\nDo you want to remove the duplicates from your data set? (y/n): ").lower())
    if inp in yes:
        global data
        data = data.drop_duplicates(key)
        print("\nThe duplicates have been removed.")
        return
    elif inp in no:
        return 
    else:
        sys.stdout.write("""\nPlease answer with "yes" or "no".""")
        removeDupl()
    return

In [20]:
def qDuplicates():
    inp = str(input("\nDo you want to check for duplicates in your data set?  (y/n): ").lower())
    if inp in yes:
        key = Key()
        duplications = sum(data.duplicated(key))
        print("There are", duplications, "duplicates in your data set.")
        if duplications == 0:
            return
        else:
            removeDupl()
    elif inp in no: 
        return
    else:
        sys.stdout.write("""\nPlease answer with "yes" or "no".""")
        qDuplicates()  
    return

In [22]:
key =[]

In [24]:
qDuplicates()
data.tail()

Do you want to check for duplicates in your data set?  (y/n): y

What column is the primary key of your data set?: po

There is no such column. Please try again!

What column is the primary key of your data set?: pwp

There is no such column. Please try again!

What column is the primary key of your data set?: id
There are 3 duplicates in your data set.

Do you want to remove the duplicates from your data set? (y/n): y

ValueError: not enough values to unpack (expected 2, got 0)

In [ ]:
key = Key()
qDuplicates()

In [ ]:
## 2.7 remove NA values

# get input of user if he wants to delete all the rows including null values 


listing = listing.dropna(how ="any", axis=0) # axis = 0 --> row

In [ ]:
def qDrop():
    inp = str(input("\nDo you want to remove the null values? (y/n): ").lower())
    if inp in yes:
        global data
        data = data.dropna(how="any", axis=0) # axis = 0 --> row
        print("\nNull values have been removed.")
    elif inp in no:
        return      
    else:
        sys.stdout.write("Please respond with 'yes' or 'no'")
        qDrop()

In [ ]:
qDrop()

In [ ]:
## 2.4 Transforming data types

# ask if there are any data types that don't seem to be correct
# we will need to get input from user and assign values which need to be transformed to lists
# object -> int64  (.apply(lambda x: int(x)))
# object -> float64 (.apply(lambda x: float(x)))
# int64 or float64 --> object (.apply(lambda x: str(x))))

# we need to check if the columns have been correctly written or if there are spelling mistakes!
# don't know how to implement this as of yet 
# but main question probably is: does input exist/is equal to our given variables? 

# we need to loop each list, for the chance of multiple entries per list. 

#define category change function
def inpCat():
    inp =str(input("\nAre there columns that need to be changed into character type? (y/n): ").lower())
    if inp in yes:
        getInput()
        for char in c:
            global data
            data[char] = data[char].astype(str)
            print(char, "has been changed to character!")
        return
    elif inp in no:
        return
    else: 
        sys.stdout.write("""\nPlease answer with "yes" or "no".""")
        inpCat()
        
# define float change function
def inpNum():
    inp = str(input("\nAre there columns that need to be changed into numeric? (y/n): ").lower())
    if inp in yes:
        getInput()
        for char in c:
            global data
            data[char] = pd.to_numeric(data[char])
            print(char, "has been changed to numeric!")
        return
    elif inp in no:
        return
    else: 
        sys.stdout.write("""\nPlease answer with "yes" or "no".""")
        inpNum()      


#define date change function
def inpDate():
    inp = str(input("\nAre there columns that need to be changed into date? (y/n): ").lower())
    if inp in yes:
        getInput()
        for char in c:
            try:
                dateFormat =str(input("\nFor " + str(char) + ", please enter the correct format of the date (eg. %Y-%m-%d): "))
                global data
                data[char] = pd.to_datetime(data[char], format=dateFormat)
                print(char, "has been changed to date!")
            except ValueError:
                print("Time data does not match format", dateFormat +". Insert correct format!\nTry again!")
                inpDate()
        return
    elif inp in no:
        return
    else: 
        sys.stdout.write("""\nPlease answer with "yes" or "no".""")
        inpDate()
    
# define Transform function
def qTransform():
    inp = str(input("\nAre there any columns in the wrong format that need to be changed? (y/n): ?").lower())
    if inp in yes:
        inpCat()
        inpNum()
        inpDate()
        print("See your corrected table below")
        data.dtypes
        qTransform()
        return
    elif inp in no:
        return
    else:
        sys.stdout.write("""\nPlease answer with "yes" or "no".""")
        qTransform()
    return

In [ ]:
## 2.8 Renaming columns 
# define function to ask if user wants to rename columns
def qRename():
    inp = str(input("\nDo you want to rename columns? (y/n): ").lower())
    if inp in yes:
        getInput()
        for char in c:
            global data
            newname_input = str(input("\nHow do you want to rename the column " + str(char) + "?: "))
            data = data.rename(columns = {char: newname_input})
            print(str(char) +" has been renamed to " + str(newname_input)+"!")
    elif inp in no:
        return      
    else:
        sys.stdout.write("Please respond with 'yes' or 'no'")
        qRename()

## old code

In [ ]:
## 2.9 check for duplicates 

# To get rid of duplicates I here checked if the *key* appears more than once (here: "id" of airbnb offers)
# A key in a data set is a variable which is unique. In other words, the key is the value whith which
# you can access each single observation. 
# Thus for our program we will need to ask the user for the key. The user must know this key! 
# The program hasn't got the intelligence to figure it out by itself. 

def removeDupl():
    inp = str(input("\nDo you want to remove the duplicates from your data set? (y/n): ").lower())
    if inp in yes:
        global data
        global key
        data.drop_duplicates(key)
        print("\nThe duplicates have been removed.")
    elif inp in no:
        return 
    else:
        sys.stdout.write("Please respond with 'yes' or 'no'")
        removeDupl()
    return


def qKey():
    key = input("\nWhat column is the primary key of your data set?: ")
    if key in columns: 
        duplications = sum(data.duplicated(key))
        print("There are", duplications, "duplicates in your data set.")
        if duplications == 0:
            return
        else:
            removeDupl()
    else:
        print("\nThere is no such column. Please try again!")
        qKey()


def qDuplicates():
    inp = str(input("\nDo you want to check for duplicates in your data set?  (y/n): ").lower())
    if inp in yes:
        qKey()
    elif inp in no: 
        return
    else:
        sys.stdout.write("""\nPlease answer with "yes" or "no".""")
        qDuplicates()  
    return